<div class="card" >
    <h1>User Registered</h1>
    <% @registrations.each do |registration| %>
        <div class="list">
            <div class="link">
                <%= link_to registration.first_name, edit_registration_path(registration),class: "link"%>
            </div>
            
            <div class="action">
                <%= button_to 'Delete', registration_path(registration), method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
            </div>
        </div>
    <% end %>
    <%= link_to 'Register', new_registration_path , class: "btn"%>
</div>