
<%= form_with(model: @registration) do |form| %>
    <h1>Registrations Form</h1>
    <div class="row">
        <%= form.label :first_name, style: "display: block" %>
        <%= form.text_field :first_name %>

        
    </div>
<% end %>